{{extend 'layout.html'}}


<div class="well">

    <div class="page-header">
        <h3>Información de Cuenta</h3>
    </div>

    <table>
        <tbody>
            <tr>
                <th>Nombre:</th>
                <td>{{=user.first_name}}</td>
            </tr>
            <tr>
                <th>Apellido:</th>
                <td>{{=user.last_name}}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{=user.email}}</td>
            </tr>
        </tbody>
    </table>

    <div class="page-header">
        <h3>Últimos Tickets</h3>
    </div>
 
    {{=ticket}}
    
</div>